.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply lg:p-24 max-lg:px-24 max-lg:py-12;
  min-height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
}
